:root {
    --colorMain: #006699;
    --colorMainHover: #1c7fb0;
    --colorText: #222222;
    --colorBady: #E7E7E7;

    --colorOk: #032830;
    --colorOkLight: #055160;
    --colorErr: #2c0b0e;
    --colorErrLight: #842029;

    --colorLevel1: rgba(0, 87, 255, 0.2);
    --colorLevel2: rgba(5, 0, 255, 0.43);
    --colorLevel3: rgba(247, 0, 0, 0.47);
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/woff2/Jura-Regular.woff2') format('woff2'),
        url('../fonts/woff/Jura-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/woff2/Jura-SemiBold.woff2') format('woff2'),
        url('../fonts/woff/Jura-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/woff2/Jura-Bold.woff2') format('woff2'),
        url('../fonts/woff/Jura-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/woff2/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/woff/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/woff2/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/woff/Roboto-Bold.woff') format('woff');
}

body {
    background-color: var(--colorBady);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    height: 100%;
}

a {
    display: block;
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.section__title {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

.btn {
    background-color: var(--colorMain);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    color: #fff;
    transition: background .3s ease;
}

.btn:hover {
    background-color: var(--colorMainHover);
}

.header-top {
    position: relative;
    z-index: 10;
    background-color: var(--colorBady);
}

.header-top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

.header-top__name {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 2px;
}

.header-top__phone p {
    font-weight: 700;
    margin-bottom: 2px;
}

.header__phone {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    transition: color .3s ease;
}

.header__phone:hover {
    color: var(--colorMainHover);
}

.header__menu {
    background-color: var(--colorMain);
    height: 60px;
    position: relative;
    z-index: 9;
}

.menu {
    display: flex;
    height: 100%;
}

.button__burger {
    display: none;
    border: none;
    background-color: transparent;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.menu__burger {
    background-color: var(--colorMain);
    width: 100%;
}

.button__burger-img {
    height: 40px;
    width: 40px;
}

.burger {
    background-color: var(--colorMain);
    width: 100%;
    padding: 10px 0 20px;
    position: absolute;
    top: -400%;
    left: 0;
    right: 0;
    transition: transform .3s ease;
    transform: translateY(-400%);
    z-index: 7;
}

.burger__item+.burger__item {
    margin-top: 20px;
}

.menu__list {
    display: flex;
    height: 100%;
}

.menu__link,
.burger__link {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    color: var(--colorBady);
    font-size: 22px;
    line-height: 1.2;
}

.menu__link {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background .3s ease;
}

.burger__list {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.burger__link {
    font-size: 28px;
    line-height: 1.2;
}

.menu__link:hover {
    background-color: var(--colorMainHover);
}

.menu__link span {
    margin-top: 8px;
}

.menu__item+.menu__item {
    margin-left: 20px;
}

.footer {
    padding: 60px 0;
    background-color: #1c1c1c;
    color: var(--colorBady);
}

.footer__inner {
    display: flex;
    justify-content: center;
}

.text-right {
    text-align: right;
    padding-right: 50px;
}

.text-left {
    text-align: left;
    padding-left: 50px;
}


.footer__phone p,
.footer__telegram p {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.footer__phone-link,
.footer__telegram-link {
    transition: color .3s ease;
}

.footer__phone-link:hover,
.footer__telegram-link:hover {
    color: var(--colorMainHover);
}

.main {
    flex-grow: 1;
}

.intro {
    height: 550px;
    background-image: url('../images/bg/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
}

.intro::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.intro__title {
    position: absolute;
    right: 0;
    left: 0;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.5;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 40px;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 5;
}

.about {
    padding-top: 60px;
    padding-bottom: 30px;
}

.about__inner {
    padding-left: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__img {
    border-radius: 50%;
}

.about__text {
    max-width: 750px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-left: 35px;
}

/* .about__text p+p {
    margin-top: 50px;
} */

.about__text p:not(:last-child) {
    margin-bottom: 50px;
}

.about__text p span {
    font-weight: 700;
}

.info {
    padding: 30px 0;
}

.info__title {
    margin-bottom: 40px;
}

.info__text {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.6;
}

.prices {
    margin-bottom: 60px;
}

.price__list {
    display: flex;
    justify-content: space-between;
}

.price {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* max-width: 350px;
    width: 100%; */
}

.price__item {
    max-width: 350px;
    width: 100%;
}

.price__item:not(:last-child) {
    margin-right: 15px;
}

.price__header {
    width: 100%;
    height: 50px;
}

.price__header--colorLevel1 {
    background-color: var(--colorLevel1);
}

.price__header--colorLevel2 {
    background-color: var(--colorLevel2);
}

.price__header--colorLevel3 {
    background-color: var(--colorLevel3);
}

.price__content {
    background-color: #fff;
    padding: 15px 15px 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__name {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 15px;
}

.price__text {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 27px;
}

.price__try {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    margin-top: auto;
}

.question__title {
    margin-bottom: 20px;
}

.question__descr {
    text-align: center;
    font-weight: 400;
    padding-bottom: 50px;
    position: relative;
}

.question__descr::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 50px;
    background-color: var(--colorText);
    margin-bottom: 20px;
}

.form {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.form__top {
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    width: 47%;
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    margin-bottom: 30px;
}

.input,
.textarea {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    padding: 10px 15px;
    outline: none;
}

.select {
    width: 100%;
}

.submit {
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.3;
}

.form__privacy {
    text-align: center;
    padding-bottom: 50px;
}

.privacy__link {
    display: inline-block;
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    color: var(--colorMain);
    transition: color .3s ease;
}

.privacy__link:hover {
    color: var(--colorMainHover);
}

.form__submit-ok,
.form__submit-error {
    color: #fff;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.form__submit-ok {
    background-color: var(--colorOk);
    border-left: 10px solid var(--colorOkLight);
}

.form__submit-error {
    background-color: var(--colorErr);
    border-left: 10px solid var(--colorErrLight);
}

.alert {
    padding: 20px 40px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.reload__link {
    display: inline-block;
}

.reload__link:hover {
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .price__item {
        max-width: 330px;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .about__inner {
        padding-left: 40px;
    }

    .price__item {
        max-width: 300px;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .about__inner {
        padding-left: 20px;
    }

    .price__list {
        flex-direction: column;
        align-items: center;
    }
    .price__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .price__item {
        max-width: 400px;
    }
}

@media (max-width: 850px) {
    .intro {
        height: 400px;
    }

    .intro__title {
        font-size: 30px;
    }

    .about__inner {
        flex-direction: column;
        padding-left: 0;
    }

    .about__text {
        padding-left: 0;
        padding-top: 30px;
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 750px) {
    .about__text p:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .info__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .intro {
        height: 350px;
    }

    .intro__title {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .about__text {
        line-height: 1.4;
    }
}

@media (max-width: 550px) {
    .footer__inner {
        flex-direction: column;
        align-items: center;
    }

    .text-right {
        padding-right: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .text-left {
        padding-left: 0;
        text-align: center;
    }

    .about__text p:not(:last-child) {
        margin-bottom: 25px;
    }

    .info__title {
        margin-bottom: 20px;
    }
    .info__text {
        line-height: 1.4;
    }

    .form__top {
        flex-direction: column;
    }

    .input {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .button__burger {
        display: flex;
    }

    .menu__list {
        display: none;
    }

    .header-top__inner {
        display: block;
    }

    .header-top__logo {
        margin-bottom: 15px;
    }

    .burger--open {
        transform: translateY(0);
        transition: transform .3s ease;
    }

    .about__img {
        height: 240px;
        width: 240px;
    }
}

@media (max-width: 450px) {
    .intro {
        height: 300px;
    }

    .about__text p:not(:last-child) {
        margin-bottom: 15px;
    }

    .info__text {
        font-size: 16px;
    }

    .price__item {
        max-width: 350px;
    }
}

@media (max-width: 400px) {
    .price__item {
        max-width: 300px;
    }
}